// Colors
$clr-blue-900: #332942;
$clr-gray-900: #726a7e;
$clr-green-900: #0fc36d;
$clr-gray-800: #f6f7ed;

// font-size
$fs-56: 3.5rem;
$fs-40: 2.5rem;
$fs-24: 1.5rem;
$fs-18: 1.125rem;
$fs-16: 1rem;
$fs-14: 0.875rem;
