@import "./variables";
@import "./normalize";
@import "./fonts";
@import "./general";
@import "./components-styles/contact";
@import "./components-styles/footer";
@import "./components-styles/header";
@import "./components-styles/live-chat.scss";

main img {
  width: 100%;
}

.hero {
  background-color: #f6f7ed;
}
.hero__container {
  display: flex;
  align-items: center;
  picture {
    width: 100%;
  }
}

.hero__subheading {
  color: #0fc36d;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.8em; /* 183.333% */
  margin-bottom: 8px;
}

.hero__title {
  color: #332942;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.28em; /* 128.571% */
  margin-bottom: 24px;
}

.hero__description {
  color: #726a7e;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  margin-bottom: 56px;
}

.hero__button-group {
  display: flex;
  gap: 24px;
}

.hero__site__map {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 36px;
  & > :first-child {
    color: rgb(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 600;
    line-height: 1em; /* 16px */
  }
  img {
    width: 20px;
  }
}
.page-name {
  color: #332942;
  font-size: 16px;
  font-weight: 600;
  line-height: 1em; /* 16px */
}

.hero__contact-button {
  background: transparent;
  border: 1px solid #0fc36d;
  font-size: 16px;
  padding: 16px 20px;
  font-weight: 600;
  line-height: 100%; /* 16px */
  border-radius: 12px;
  color: #0fc36d;
}

.hero__services {
  border-radius: 12px;
  border: 1px solid #0fc36d;
  color: #0fc36d;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%; /* 16px */
  padding: 16px 20px;
}

@media (max-width: 1440px) {
    .hero__subheading {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
    
      .hero__title {
        font-size: $fs-56;
        margin-bottom: 1.5rem;
      }
    
      .hero__description {
        font-size: 1rem;
        line-height: 1.5rem; /* 150% */
        margin-bottom: $fs-56;
      }
    
      .hero__button-group {
        gap: 1.5rem;
      }
    
      .hero__contact-button {
        font-size: 1rem;
        padding: 1rem 1.25rem;
        border-radius: 0.75rem;
      }
    
      .hero__services {
        border-radius: 0.75rem;
        font-size: 1rem;
        padding: 1rem 1.25rem;
      }
      .hero__site__map {
        gap: 0.625rem;
        padding-top: 2.25rem;
        & > :first-child {
          font-size: 1rem;
        }
        img {
          width: 1.25rem;
        }
      }
      .page-name {
        font-size: 1rem;
      }
}

@media (max-width: 768px) {
    .hero__container > picture {
        display: none;
      }
      .hero__container {
        text-align: center;
      }
      .hero__left-side {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      .hero__subheading {
        font-size: 2.5rem;
      }
      .hero__title {
        font-size: 4.5rem;
      }
      .hero__description {
        font-size: 1.5rem;
        line-height: 1.5em;
      }
      .hero__services,
      .hero__contact-button {
        font-size: 2rem;
        padding: 2rem 3rem;
      }
}

@media (max-width: 576px) {
    .hero__subheading {
      font-size: 2rem;
    }
    .hero__title {
      font-size: 3.2rem;
    }
    .hero__services,
    .hero__contact-button {
      font-size: 2rem;
      padding: 1.3rem 3rem;
    }
  }
  @media (max-width: 375px) {
    .hero__title {
      font-size: 3rem;
    }
  }
  

// ! Offers section

.offers {
  margin-top: 120px;
  margin-bottom: 168px;
}

.offers__intro {
  display: flex;
  flex-direction: column;
}
.offers__intro__subtitle {
  color: #0fc36d;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.83em; /* 183.333% */
  margin-bottom: 8px;
}

.offers__intro__title {
  color: #332942;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4em; /* 140% */
}

.offers__intro__description {
  color: #726a7e;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  margin-bottom: 56px;
}

.offers__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.offers__cards__block {
  padding: 24px;
  background-color: #f6f7ed;
  border-radius: 32px;
  background: #f6f7ed;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cards__block__title {
  color: #332942;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
}

.cards__block__description {
  color: #726a7e;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
}

.cards__block__button {
  color: #0fc36d;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%; /* 16px */
  border-radius: 12px;
  border: 1px solid #0fc36d;
  padding: 16px 20px;
}

@media (max-width: 1440px) {
  .offers {
    margin-top: 7.5rem;
    margin-bottom: 10.5rem;
  }

  .offers__intro__subtitle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .offers__intro__title {
    font-size: 2.5rem;
  }

  .offers__intro__description {
    font-size: 1rem;
    margin-bottom: $fs-56;
  }

  .offers__cards {
    column-gap: 1.25rem;
    row-gap: 1.25rem;
  }

  .offers__cards__block {
    padding: 1.5rem;
    border-radius: 2rem;
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .offers__intro__title {
    font-size: 3.5rem;
  }
  .offers__intro__subtitle {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  .offers__intro__description {
    display: none;
  }
  .offers__cards {
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
  }
}