<footer class="footer">
    <div class="container footer__container">
        <!-- * CTA (call to action) -->
        <div class="footer__cta">

            <p class="footer__cta__subtitle">
                Biz uchun
            </p>
            <h2 class="footer__cta__title">
                Yana savollaringiz bormi?
            </h2>
            <p class="footer__cta__description">
                Sizni qiynayotgan savollaringiz bo’lsa biz bilan bog’laning! Mutaxassislarimiz sizning
                savollaringizga javob
                berishadi!
            </p>
            <button class="footer__cta__button common-button">
                Buyurtma qilish
            </button>
        </div>

        <a class="footer__logo" href="#">
            <img src="./images/toza-makon-icon.svg" alt="logo icon">
            <img src="./images/toza-makon.svg" alt="Toza makon">
            <span class="slogan">Tozalik biz bilan boshlanadi</span>
        </a>

    </div>
</footer>