<header class="header">

    <!-- ! header section -->

    <section>
        <div class="container header__container">
            <button id="bars">
                <span class="first-bar"></span>
                <span class="middle-bar"></span>
                <span class="last-bar"></span>
            </button>
            <a href="#">
                <img class="logo" src="./images/logo.svg" alt="logo">
            </a>
            <nav>
                <ul class="header__nav">
                    <li>
                        <a href="#">
                            Xizmatlar
                        </a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Biz haqimizda</a>
                    </li>
                </ul>
            </nav>
            <div class="header__features">
                <button id="change-theme-button">
                    <img src="./images/sun.svg" alt="sun">
                </button>
                <div class="change-lang-button-wrapper">
                    <button id="change-lang-button" class="uz">
                        <img class="uzbek-img" src="./images/Uzbekistan.svg" alt="uzbekistan flag">
                    </button>
                    <ul class="lang-list">
                        <li class="first-list-item">
                            <button class="ru"><img class="russian-img" src="./images/Russian-Federation.svg"
                                    alt="Russian flag"></button>
                        </li>
                        <li class="second-list-item">
                            <button class="en"><img class="english-img" src="./images/Great-Britain.svg"
                                    alt="Great Britain flag"></button>
                        </li>
                    </ul>

                </div>
                <button class="try-our-app-button common-button">
                    Ilovamizni sinab ko'ring
                </button>
            </div>
        </div>
    </section>

</header>