.About__hero {
  background-color: var(--clr-yellow-900);
  padding-top: 36px;
  padding-bottom: 101px;
}

.About__Hero__site__map {
    display: flex;
    align-items: center;
    &:first-child {
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        font-weight: 600;
        line-height: 100%; /* 16px */
    }
}

.About__Hero__container {
  display: flex;
  align-items: center;
  margin-top: 100px;
  iframe {
    border-radius: 32px;
    position: relative;
  }
}

.About__Hero__subheading {
    color: var(--clr-green-900);
    font-size: 24px;
    font-weight: 600;
    line-height: 44px; /* 183.333% */
    margin-bottom: 8px;
}

.About__Hero__title {
    color: var(--clr-grey-900);
    font-size: 40px;
    font-weight: 700;
    line-height: 56px; /* 140% */
    margin-bottom: 24px;
}

.About__Hero__description {
    width: 80%;
    color: var(--clr-grey-800);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    margin-bottom: 48px;
}


.stats-description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 500;
    line-height: 100%; /* 16px */
}

.stats-number {
    color: var(--clr-green-900);
    font-size: 32px;
    font-weight: 700;
    line-height: 48px; /* 150% */
}

.stats-wrapper {
    display: flex;
    gap: 32px;
}

.stats {
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {
    .About_Hero__left-side {
        text-align: center;
    }
}