// Colors
$clr-blue-900: var(--clr-grey-900);
$clr-green-900: var(--clr-green-900);
$clr-gray-900: var(--clr-grey-900);
$clr-gray-800: var(--clr-yellow0-900);
$clr-white-900: var(--clr-white-900);
// font-size
$fs-56: 3.5rem;
$fs-40: 2.5rem;
$fs-24: 1.5rem;
$fs-18: 1.125rem;
$fs-16: 1rem;
$fs-14: 0.875rem;
$fs-12: 0.75rem;
