<section class="contact">
    <div class="container contact__container">
        <div class="contact__information">
            <a href="tel:7757">
                <img src="./images/call.svg" alt="call">
                <span class="phone-number">77 57</span>
            </a>
            <img src="./images/line.svg" alt="line">
            <span class="information__action">Xizmatlarimiz haqida bepul ma’lumot olish uchun qo'ng'iroq
                qiling!</span>
            <img src="./images/line.svg" alt="line">
            <span class="work-time">Ish vaqti: 09:00 - 18:00</span>
        </div>
        <div class="contact__social-links">
            <a href="#">
                <img src="./images/icon_youTube.svg" alt="youtube page">
            </a>
            <a href="#">
                <img src="./images/icon_telegram.svg" alt="telegram page">
            </a>
            <a href="#">
                <img src="./images/icon_instagram.svg" alt="instagram page">
            </a>
        </div>
    </div>
</section>