<!-- ! header-main section -->

<section>
    <div class="container header-main__container">
        <a href="#">
            <img src="./images/logo.svg" alt="logo">
        </a>
        <nav>
            <ul>
                <li>
                    <a href="#">Xizmatlar</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Biz haqimizda</a>
                </li>
            </ul>
        </nav>
        <div class="header-main__features">
            <button id="change-theme-button">
                <img src="./images/sun.svg" alt="sun">
            </button>
            <button id="change-lang-button">
                UZ
            </button>
            <button>
                Ilovamizni sinab ko'ring
            </button>
        </div>
    </div>
</section>